<div>
    <div ng-repeat="dirs in dirList">
        <div class="dirs" data-name="{{dirs.first_dir}}">
            <div class="first_dirs">
                <label class="checkbox-inline checkbox-item" title="全选">
                    <input type="checkbox" value="{{dirs.first_dir}}" ng-change="onFirstDirsClick($event, dirs.first_dir)" ng-model="dirListValue[dirs.first_dir].checked">
                    <b>{{dirs.first_dir}}</b>
                </label>
            </div>
            <div class="second_dirs">
                <label class="checkbox-inline checkbox-item" ng-repeat="second_dir in dirs.second_dir">
                    <input type="checkbox" ng-value="second_dir" ng-change="onSubDirsClick($event, dirs.first_dir, second_dir, 'second_dirs')" ng-model="dirListValue[dirs.first_dir]['second_dirs'][second_dir].checked">
                    {{second_dir}}
                </label>
            </div>
            <div class="hot_dirs">
                <label class="checkbox-inline checkbox-item" ng-repeat="(key, val) in dirs.hot_dir">
                    <input type="checkbox" value="{{val}}" ng-change="onSubDirsClick($event, dirs.first_dir, val, 'hot_dirs')" ng-model="dirListValue[dirs.first_dir]['hot_dirs'][val].checked">
                    {{key}}
                </label>
            </div>
        </div>
        <hr style="border-top:1px solid #eee;">
    </div>
</div>
