<div>
    <div class="control-group">
        <label class="control-label" for="">全吧投放</label>
        <div class="controls form-inline form-group">
            <label>
                <select name="" id="" ng-model="source.cover_all">
                    <option value="0">不使用</option>
                    <option value="1">使用</option>
                </select>
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="">选择虚拟目录</label>
        <div class="controls form-inline form-group">
            <label>
                <select name="" id="" ng-model="source.virtual_dir">
                    <option ng-repeat="opt in virtualDirs" ng-selected="opt == source.virtual_dir">{{opt}}</option>
                </select>
            </label>
        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="">选择TOP目录</label>
        <div class="controls form-inline form-group">

<div ng-repeat="dirs in dirList">
    <div class="dirs" data-name="{{dirs.first_dir}}">
        <div class="first_dirs">
            <label class="checkbox-inline checkbox-item" title="全选">
                <input type="checkbox" value="{{dirs.first_dir}}" ng-change="onFirstDirsClick($event, dirs.first_dir)" ng-model="dirListValue[dirs.first_dir].checked">
                <b>{{dirs.first_dir}}</b>
            </label>
        </div>
        <div class="second_dirs">
            <label class="checkbox-inline checkbox-item" ng-repeat="second_dir in dirs.second_dir">
                <input type="checkbox" ng-value="second_dir" ng-change="onSubDirsClick($event, dirs.first_dir, second_dir, 'second_dirs')" ng-model="dirListValue[dirs.first_dir]['second_dirs'][second_dir].checked">
                {{second_dir}}
            </label>
        </div>
        <div class="hot_dirs">
            <label class="checkbox-inline checkbox-item" ng-repeat="(key, val) in dirs.hot_dir">
                <input type="checkbox" value="{{val}}" ng-change="onSubDirsClick($event, dirs.first_dir, val, 'hot_dirs')" ng-model="dirListValue[dirs.first_dir]['hot_dirs'][val].checked">
                {{key}}
            </label>
        </div>
    </div>
</div>


        </div>
    </div>

    <datalist-uploaders source="source.first_dirs" display-label="添加一级目录" display-tip-text="支持txt，utf-8格式" display-button-text="从文件上传"></datalist-uploaders>

    <datalist-uploaders source="source.second_dirs" display-label="添加二级目录" display-tip-text="支持txt，utf-8格式" display-button-text="从文件上传"></datalist-uploaders>

    <datalist-uploaders source="source.forum_names" display-label="添加吧名" display-tip-text="支持txt，utf-8格式" display-button-text="从文件上传"></datalist-uploaders>

    <datalist-uploaders source="source.black_names" display-label="吧黑名单" display-tip-text="支持txt，utf-8格式" display-button-text="从文件上传"></datalist-uploaders>
<!-- 
 -->

 <!--     <div class="control-group">
        <label class="control-label" for="">添加一级目录</label>
        <div class="controls form-inline form-group">
            <label>
                <input type="text" class="medium-input" ng-model="source.first_dirs" />
            </label>
            <label class="adsenseUploader">
                <input type="file" accept="text/plain" />从文件上传<a href="javascript:" title="支持txt，utf-8格式">[?]</a>
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="">添加二级目录</label>
        <div class="controls form-inline form-group">
            <label>
                <input type="text" class="medium-input" ng-model="source.second_dirs" />
            </label>
            <label class="adsenseUploader">
                <input type="file" accept="text/plain" />从文件上传<a href="javascript:" title="支持txt，utf-8格式">[?]</a>
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="">添加吧名</label>
        <div class="controls form-inline form-group">
            <label>
                <input type="text" class="medium-input" ng-model="source.forum_names" />
            </label>
            <label class="adsenseUploader">
                <input type="file" accept="text/plain" />从文件上传<a href="javascript:" title="支持txt，utf-8格式">[?]</a>
            </label>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="ad_address">吧黑名单</label>
        <div class="controls form-inline form-group">
            <label >
                <input type="text" class="medium-input" ng-model="source.black_names" />
            </label>
            <label class="adsenseUploader">
                <input type="file" accept="text/plain" />从文件上传<a href="javascript:" title="支持txt，utf-8格式">[?]</a>
            </label>
        </div>
    </div>
 -->

    <div class="control-group">
        <label class="control-label" for="">投放时间</label>
        <div class="controls form-inline form-group">
            <label >
                <input id="adStartTime" type="text" class="tiny-input start_time" ng-model="source.start_time" required onFocus="WdatePicker({minDate:'%y-%M-%d',dateFmt:'yyyy-MM-dd'})" />
            </label>
            <span> 至 </span>
            <label >
                <input id="adEndTime" type="text" class="tiny-input end_time" ng-model="source.end_time" required onFocus="WdatePicker({minDate:'#F{$dp.$D(\'adStartTime\')}',dateFmt:'yyyy-MM-dd'})" />
            </label>
        </div>
    </div>

    <input type="button" ng-click="onSubmitClick()" value="submit">

</div>
