<div>
    <div class="control-group">
        <label class="control-label" for="ad_address">虚拟目录名称</label>
        <div class="controls form-inline form-group">
            <label >
                <input type="text" class="medium-input" ng-model="source.name" />
            </label>
        </div>
    </div>

     <datalist-uploaders source="dirs" display-label="虚拟目录列表" display-tip-text="支持txt，utf-8格式" display-button-text="从文件上传" return-list="datalist"></datalist-uploaders>

    <input type="button" ng-click="onSubmitClick()" value="submit">
</div>
