<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/application.min.css">
    <style>
        body{background:#FFF;}
        hr{margin:0;border-top:1px solid #CCC;}
    </style>
    <title>Document</title>
</head>
<body ng-controller="adsenseController">

<div class="form-horizontal" style="padding:20px;">
    <hr>
    forms:
    <hr>
    <adsense-properties ng-model="clips"></adsense-properties>
    {{clips|json}}
</div>

<script src="js/angular.js"></script>
<script src="j_template.js"></script>
<script>
var appModule = angular.module('app', []);

appModule.controller('adsenseController', ['$scope', function($scope) {
    $scope.clips = {'thread_title': '123'};
}]);

appModule.directive('adsenseProperties', function() {
    function getForm(property) {
        var ret = '';

        var type = property.type;
        var id = property.id;
        var name = property.name;
        var options = property.options || [];
        var defaultValue = property.defaultValue;
        var validate = property.validate || {};
        
        // 抹平变量..由拼写问题引起
        validate.required = validate.require;
        validate.pattern = validate.patten;

        var ngModel = '"ngModel.' + id + '"';
        var ngRequired = '';
        var ngShow = !property.hide;

        // 准备验证相关
        if (validate.required) {

        }

        // 开始拼装HTML

        var attr = ' ng-model=' + ngModel + '" ng-required="' + ngRequired + '" ng-show="' + ngShow + '" ';

        if (type == 'simpletext') {
            ret = '<input type="text"' + attr +'">';
        }
        else if (type == 'richtext') {
            ret = '<textarea' + attr +'"></textarea>';
        }
        else if (type == 'select') {
            ret = '<select' + attr +'"></select>';
        }
        else if (type == 'upload') {
            ret = '<input' + attr +'">';
        }
        return ret;
    }

    function buildForm (element, json) {
        var ret = '';
        var id, name, type;
        json.forEach(function(property, index){
            ret += [
                '<div class="row goods_property">',
                    '<div class="col-md-8">',
                        '<div class="control-group">',
                            '<label class="control-label">' + property.name + '</label>',
                            '<div class="controls form-group">',
                                getForm(property),
                            '</div>',
                        '</div>',
                    '</div>',
                    '<div class="col-md-4">',
                        '<div class="propertip"></div>',
                        '<div class="errmsg"></div>',
                    '</div>',
                '</div>'
            ].join('');
        });
        element.append(angular.element(ret));
    }

    function compile(element, attr, linkFn) {

        attr.argJson = json;

        buildForm(element, attr.argJson);

        function link(scope, element, attr, controller, transcludeFn) {
            // body
        }

        return link;
    }

    return {
        restrict: 'EA',
        template: '<div></div>',
        compile: compile,
        scope: {
            ngModel: '='
        },
        replace: true
    };
});

// ------------------------------
appModule.directive('richtext', function() {
    function getTemplate() {
        var ret = '';
        ret = [
            '<div class="row goods_property">',
                '<div class="col-md-8">',
                    '<div class="control-group">',
                        '<label class="control-label">{{source.label}}</label>',
                        '<div class="controls form-group">',
                            '<textarea class="small-input" ng-model="ngModel" ng-required="ngRequired"></textarea>',
                        '</div>',
                    '</div>',
                '</div>',
                '<div class="col-md-4">',
                    '<div class="propertip"></div>',
                    '<div class="errmsg"></div>',
                '</div>',
            '</div>'
        ].join('');

        return ret;
    }

    function compile(elem, attr) {
        
        return {
            pre: function(scope, elem, attr, ctrl) {
                debugger;
            },
            post: function(scope, elem, attr, ctrl) {
                var properties = JSON.parse(attr.property || '{}');
                attr.id = properties.id || 'default id';
                attr.name = properties.name || 'default label';
                // scope.ngModel = scope.ngModel[attr.id];
                scope.source = {
                    label: attr.name || '',
                    button_text:  attr.displayButtonText ||'',
                    tip_text:  attr.displayTipText || ''
                };

            }
        };
    }

    return {
        restrict: 'EA',
        template: getTemplate(),
        scope: {
            ngModel: '=',
            ngRequired: '='
        },
        compile: compile,
        transclude: true,
        replace: true
    };
});


</script>

</body>
</html>