.ani {
	-webkit-transition:all .8s;
	        transition:all .8s;
}

.ani-zoomIn{
	-webkit-transform:scale(0);
			transform:scale(0);
}
.z-animate .ani-zoomIn{
	-webkit-transform:scale(1);
			transform:scale(1);
}

.ani-opacity{opacity:0;}
.z-animate .ani-opacity{opacity:1;}


.ani-inUp{
	-webkit-transform:translateY(-100%);
			transform:translateY(-100%);
}
.z-animate .ani-inUp{
	-webkit-transform:translateY(0);
			transform:translateY(0);
}

.ani-inDown{
	-webkit-transform:translateY(100%);
			transform:translateY(100%);
}
.z-animate .ani-inDown{
	-webkit-transform:translateY(0);
			transform:translateY(0);
}

.ani-inLeft{
	-webkit-transform:translateX(-100%);
			transform:translateX(-100%);
}
.z-animate .ani-inLeft{
	-webkit-transform:translateX(0);
			transform:translateX(0);
}

.ani-inRight{
	-webkit-transform:translateX(100%);
			transform:translateX(100%);
}
.z-animate .ani-inRight{
	-webkit-transform:translateX(0);
			transform:translateX(0);
}

.z-animate .ani-bounceIn{
	-webkit-animation: bounceIn 1s ease 0 1 both;
	        animation: bounceIn 1s ease 0 1 both;
}


.page-con .ani-delay-2{
	-webkit-transition-delay:.2s;
	        transition-delay:.2s;
	-webkit-animation-delay:.2s;
	        animation-delay:.2s;
}
.page-con .ani-delay-4{
	-webkit-transition-delay:.4s;
	        transition-delay:.4s;
	-webkit-animation-delay:.4s;
	        animation-delay:.4s;
}
.page-con .ani-delay-6{
	-webkit-transition-delay:.6s;
	        transition-delay:.6s;
	-webkit-animation-delay:.6s;
	        animation-delay:.6s;
}
.page-con .ani-delay-8{
	-webkit-transition-delay:.8s;
	        transition-delay:.8s;
	-webkit-animation-delay:.8s;
	        animation-delay:.8s;
}
.page-con .ani-delay-10{
	-webkit-transition-delay:1s;
	        transition-delay:1s;
	-webkit-animation-delay:1s;
	        animation-delay:1s;
}

.flex{
	-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-box-direction:normal;-moz-box-direction:normal;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;
    -webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;align-items:center;
    -webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;justify-content:center;
    text-align: center;
}
.flex-center{
	-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-box-direction:normal;-moz-box-direction:normal;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;
    -webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;align-items:center;
    -webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;justify-content:center;
    text-align: center;
}

.page-right-vertical-title .text{position:absolute;width:58px;top:80px;right:40px;}
.page-right-vertical-title .text .title{text-align:center;padding:10px 20px;background:rgba(0,0,0,.6);font-size:18px;color:#FFF;word-wrap:break-word;line-height:35px;}

.page-left-vertical-title .text{position:absolute;width:58px;top:80px;left:40px;}
.page-left-vertical-title .text .title{text-align:center;padding:10px 20px;background:rgba(0,0,0,.6);font-size:18px;color:#FFF;word-wrap:break-word;line-height:35px;}

.page-round-image-center-text{text-align:center;}
.page-round-image-center-text .image{width:150px;height:150px;margin:60px auto 10px;position:relative;z-index:1;}
.page-round-image-center-text .image > div{width:100%;height:100%;}
.page-round-image-center-text .image img{width:100%;height:100%;background:no-repeat center;background-size:cover;border-radius:999px;overflow:hidden;}
.page-round-image-center-text .title{font-size:24px;line-height:24px;color:#000000;margin:20px 0;}
.page-round-image-center-text .paragraph{font-size:13px;line-height:24px;color:#333333;}


.page-brand-image-vertical-text{}
.page-brand-image-vertical-text .flex{height:100%;}
.page-brand-image-vertical-text .image{height:40%;position:relative;z-index:1;}
.page-brand-image-vertical-text .image > div{width:100%;height:100%;}
.page-brand-image-vertical-text .image img{width:100%;height:100%;background:no-repeat center;background-size:cover;overflow:hidden;}
.page-brand-image-vertical-text .text{height:60%;position:relative;word-break:break-word;}
.page-brand-image-vertical-text .title{position:absolute;right:15px;top:15px;width:24px;font-size:24px;line-height:24px;color:#000000;}
.page-brand-image-vertical-text .paragraph{padding:20px 50px 20px 0;font-size:13px;line-height:16px;color:#333333;overflow:hidden;}
.page-brand-image-vertical-text .paragraph p{float:right;width:22px;}


.page-bottom-text-block .text{position:absolute;left:0;bottom:30px;right:40px;}
.page-bottom-text-block .title{padding:15px;font-size:24px;line-height:24px;color:#FFF;background:rgba(0,0,0,.6);}
.page-bottom-text-block .paragraph{padding:8px 15px;font-size:13px;line-height:24px;color:#FFF;background:rgba(0,0,0,.6);}

.page-top-text-block .text{position:absolute;left:0;top:30px;left:40px;text-align:right;}
.page-top-text-block .title{padding:15px;font-size:24px;line-height:24px;color:#FFF;background:rgba(0,0,0,.6);}
.page-top-text-block .paragraph{padding:8px 15px;font-size:13px;line-height:24px;color:#FFF;background:rgba(0,0,0,.6);}


.page-brand-image-text-no-title{width:256px!important;margin:auto;}
.page-brand-image-text-no-title .flex{height:100%;}
.page-brand-image-text-no-title .image{width:256px;height:60%;position:relative;z-index:1;margin-top:10px;}
.page-brand-image-text-no-title .image > div{width:100%;height:100%;}
.page-brand-image-text-no-title .image img{width:100%;height:100%;background:no-repeat center;background-size:cover;overflow:hidden;}
.page-brand-image-text-no-title .paragraph{height:40%;margin:8px 15px;font-size:13px;line-height:24px;color:#333333;text-align:left;}


.page-end .author{position:absolute;top:120px;left:50%;margin-left:-140px;width:250px;background:rgba(0,0,0,.5);border-radius:15px;padding:15px;}
.page-end .author .portrait{text-align:center;margin-top:-55px;}
.page-end .author .portrait img{vertical-align:center;width:120px;height:120px;border-radius:999px;overflow:hidden;}
.page-end .author .uname{font-size:14px;text-align:center;color:#FFF;word-break:break-all;line-height:1.5;}
.page-end .author .sign{font-size:12px;text-align:center;color:#FFF;word-break:break-all;line-height:1.5;}
.page-end .author .operations{text-align:center;margin-top:10px;}
.page-end .author .operations .btn{display:inline-block;vertical-align:middle;width:40%;margin:0 3%;line-height:2;border-radius:10px;}
.page-end .author .operations .btn-join{background:#9FF695;color:#000;font-size:14px;}
.page-end .author .operations .btn-create{background:#F9D332;color:#000;font-size:14px;}

.page-end .support{text-align:center;font-size:12px;color:#FFF;padding:10px;line-height:1.5;position:absolute;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);}
.page-end .support a{color:#23a3d3;}

