<!DOCTYPE html>
<html ng-app="plunker">
  <head>
    <meta charset="utf-8" />
    <title>AngularJS Datetime Picker</title>
    
    <link rel="stylesheet" href="bower_lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_lib/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    
    <script src="bower_lib/jquery/dist/jquery.js"></script>
    <script src="bower_lib/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="bower_lib/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    
    <script src="bower_lib/angular/angular.js"></script>
    
    <script src="datetime_picker.js"></script>
    
    <script>
    var app = angular.module('plunker', ['ngAdsenseCommon']);

    app.controller('MainCtrl', function($scope) {
        setTimeout(function() {
            $scope.$apply(
                function() {
                    $scope.abc2 = '1421173880000';
                }
            );
        }, 1500);
    });

    </script>
</head>

<body ng-controller="MainCtrl">


<div class="container">
    <h1>封装的angular版datetime-picker</h1>
    <p>from: http://plnkr.co/edit/jZ6QyrLNajRgIMSlUqsg?p=preview</p>
    
    <hr>
    
    <div class="row">
        <div class="col-md-6">
        
            <h4>formated：格式化值</h4>
            <div class="row">
                <div class="col-md-12">
                    <datetime-picker 
                        ng-model="abc1" 
                        data-date-format="yyyy-mm-dd hh:ii:00" 
                        data-show-meridian="false" 
                        data-return-type="formated" 
                        class="input-group date">
                    </datetime-picker>
                    ng-model: abc1={{abc1}}
                </div>
            </div>
            
            <hr>
            
            <h4>jsTimeStamp：js时间戳，异步恢复编辑</h4>
            <div class="row">
                <div class="col-md-12">
                    <datetime-picker 
                        ng-model="abc2" 
                        data-date-format="yyyy-mm-dd hh:ii" 
                        data-show-meridian="true" 
                        data-return-type="jsTimeStamp" 
                        class="input-group date">
                    </datetime-picker>
                    ng-model: abc2={{abc2}}
                </div>
            </div>
            
            <hr>
            
            <h4>phpTimeStamp：php时间戳</h4>
            <div class="row">
                <div class="col-md-12">
                    <datetime-picker 
                        ng-model="abc3" 
                        data-date-format="yyyy-mm-dd" 
                        data-min-view="2" 
                        data-show-meridian="false" 
                        data-return-type="phpTimeStamp" 
                        class="input-group date">
                    </datetime-picker>
                    ng-model: abc3={{abc3}}
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <pre>
&lt;datetime-picker 
    ng-model="abc1" 
    data-date-format="yyyy-mm-dd hh:ii:00" 
    data-show-meridian="false" 
    data-return-type="formated" 
    class="input-group date">
&lt;/datetime-picker></pre>
            <p>class="input-group date" 中 date 为必须项</p>
            <p>data-return-type 取值为：phpTimeStamp、jsTimeStamp、formated</p>
            <p>其它属性设置，直接添加在标签上</p>
            <p><a href="http://www.bootcss.com/p/bootstrap-datetimepicker/index.htm" target="_blanck">API</a></p>
            <p><a href="http://v3.bootcss.com/" target="_blank">Bootstrap</a></p>
            <p></p>
        </div>
    </div>
</div>


</body>

</html>
