*{padding:0;margin:0}
ul,ol,li{list-style:none}
h1,h2,h3,h4,h5,h6,b,i,em{font-size:1em;font-weight:normal;font-style:normal}
body,input,button,textarea,select{font-family:Helvetica;font:normal 14px/1.667 "Arial";color:#333;-webkit-text-size-adjust:none}
input,button,textarea,select{line-height:1.2;outline:none;-webkit-border-radius:0;border-radius:0}
input[type="text"],input[type="password"],input[type="button"],input[type="submit"],button,textarea{-webkit-appearance:none}
a{text-decoration:none;color:#08c}
img,video{vertical-align:middle;border:0}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
::-webkit-scrollbar{width:0}
.demo{margin:20px auto;width:300px;overflow:hidden}.demo ol{counter-reset:sectioncounter;display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flexbox;display:-ms-flexbox;display:flex}
.demo li{background:#08c;box-shadow:0 0 2px 1px #ccc inset;height:100px;width:100px;line-height:100px;text-align:center;font-size:36px;color:#fff}.demo li:before{content:counter(sectioncounter);counter-increment:sectioncounter}
.demo li:nth-child(even){background:#b00}
.demo .btns{font-size:18px;line-height:3}
